# never publish secret key material
keys/*sec*
keys/*secret*
keys/*priv*
*.pem
*.key
!.gitignore
!keys/aiv_pub.key
.venv/
__pycache__/
*/__pycache__/
cobaya/
cosmosis-standard-library/
data/
scripts/keys/*.key
